/Active Issues.py
/Active_Issues.csv
/Jira via Python - DWC Roadmap Adherence Report (002).ipynb
/Langflow
/quivr
simlarity/test_similar_product_features.csv
simlarity/SAP Analytics Cloud & SAP Digital Boardroom.csv
simlarity/merged_data.csv
simlarity/full_similar_product_features.csv
simlarity/.env
